body{
  margin:0;
  font-family:Comic Sans MS;
  background:#fff0f5;
}

.section{display:none;padding:15px;}
.active{display:block;}

.topbar{
  background:linear-gradient(45deg,#ff9ec4,#ffd166);
  text-align:center;
  color:white;
  padding:10px;
}

.menu{
  display:flex;
  overflow:auto;
  gap:10px;
  padding:10px;
}

.menu button{
  background:#ff69b4;
  border:none;
  color:white;
  padding:10px;
  border-radius:12px;
}

.card-container{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.animal{
  background:white;
  padding:15px;
  border-radius:15px;
}

.numbers-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:5px;
}

#gameArea{
  height:300px;
  position:relative;
  background:#fff;
  overflow:hidden;
}